<footer class="border-top footer text-muted col-md-12">
    <div class="container">
        &copy; @DateTime.Now.Year - EVEAsset.Navigator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>