@using Navigator.Consts
<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        
        <a class="btn-group-toggle" asp-controller="Home" asp-action="Index">
            <img src="~/Images/astronomy.svg" width="32" height="32"/>
        </a>
    </div>
    <div class="list-group list-group-flush">
        @{
            var itemStyling = "list-group-item list-group-item-action bg-light";
        }

        @Html.ActionLink("Bookmarks", "Index", "Bookmark", new { system = SolarSystemId.Jita}, new {Class = itemStyling})
        @Html.ActionLink("Asset Safety", "Index", "AssetSafety", new { system = SolarSystemId.Jita}, new {Class = itemStyling})
        @Html.ActionLink("LP", "Index", "Loyalty", null, new {Class = itemStyling})
        @Html.ActionLink("Credits", "Index", "Credits", null, new {Class = itemStyling})    </div>
</div>
<!-- /#sidebar-wrapper -->