<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        
        <a class="btn-group-toggle" asp-controller="Home" asp-action="Index">
            <img src="~/Images/astronomy.svg" width="32" height="32"/>
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Bookmark" asp-action="Index">Bookmarks</a>
        <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Credits" asp-action="Index">Credits</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->