@model Navigator.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @{
            if (Model == null)
            {
                <h1 class="display-4">Welcome</h1>
                <p>Please authenticate using EVE SSO in the top right</p>
            }
            else
            {
                <h1 class="display-4">Welcome @Model.InfoModel.Name</h1>
                <div class="border-right">
                    <img src="@Model.PortraitsModel.Px64x64"/>
                </div>
            }
        }


    </div>
